*{
  margin: 0;
  padding: 0;
  font-family: arial;
  line-height: 1.3;
  margin-left: 5px;
}
span{
  font-weight: bold;
}

h1{
  font-size: 25px;
}
h2{
  font-size: 15px;
}
h1,
h2{
  color: #103e55;
  line-height: 2.5;
}

.CV{
 background: rgb(99, 100, 102);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.cv-content{
  width: 800px;
  height: 1000px;
  background: #fff;
  padding: 35px;

}
.name {
  text-align: center;
  line-height: 2.9;
}
.about{
width: 70%;
}
.year-of-study{
  display: inline-block;
  width: 20%;
  vertical-align: top;

}
.institution{
display: inline-block;
width: 70%;
}
.industrial-year{
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.industrial-firm{
  display: inline-block;
  width: 60%;

}
.skill-list{
  margin-left: 3.7em;
}

.activities{
  display: inline-block;
  width: 170px;
  vertical-align: top;
}
.sports{
  
  display: inline-block;
  width: 70%;
}
.list li{
  display: inline;
}